<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
  <div layout:fragment="main-content" class="container my-3">
    <table class="table table-light table-striped">
      <thead class="table-dark">
        <tr>
          <th>번호</th>
          <th>제목</th>
          <th>작성일</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="board, loop : ${paging}">
          <td th:text="${paging.getTotalElements - (paging.number * paging.size) - loop.index}"></td>
          <td>
            <a th:href="@{|/board/detail/${board.bno}|}" th:text="${board.title}"></a>
            <!-- 댓글 개수 띄워주는 함수 -->
            <span th:if="${#lists.size(board.replyList) > 0}" th:text="${#lists.size(board.replyList)}"
               class="badge text-bg-success"></span>
          </td>
          <td th:text="${#temporals.format(board.createDate, 'yyyy-MM-dd HH:mm')}"></td>
        </tr>
      </tbody>
    </table>
    <!-- 페이징 시작 -->
    <div th:if="${!paging.isEmpty()}">
      <ul class="pagination justify-content-center">

        <!-- 이전 버튼 -->
        <li th:classappend="${!paging.hasPrevious} ? disabled" class="page-item">
          <!-- classappend: 만약에 페이징에 hasPrevious값이 없으면 ? 뒤의 결과를 도출 -->
          <a th:href="@{|?page=0|}" class="page-link">&lt;&lt;</a>
        </li>
        <li th:classappend="${!paging.hasPrevious} ? disabled" class="page-item">
          <a th:href="@{|?page=${paging.number-1}|}" class="page-link">&lt;</a>
        </li>

        <!-- 페이지 번호 -->
        <li th:each="page : ${#numbers.sequence(0, paging.totalPages-1)}"
            th:if="${page >= paging.number-4 and page <= paging.number+4}"
            th:classappend="${page == paging.number} ? 'active'"
            class="page-item">
          <a th:href="@{|?page=${page}|}" th:text="${page+1}" class="page-link"></a>
        </li>

        <!-- 다음 버튼 -->
        <li th:classappend="${!paging.hasNext} ? disabled" class="page-item">
          <a th:href="@{|?page=${paging.number+1}|}" class="page-link">&gt;</a>
        </li>
        <li th:classappend="${!paging.hasNext} ? disabled" class="page-item">
          <a th:href="@{|?page=${paging.totalPages-1}|}" class="page-link">&gt;&gt;</a>
        </li>
      </ul>
    </div>
    <!-- 페이징 끝 -->
    <div class="d-flex justify-content-end">
      <a th:href="@{/board/create}" class="btn btn-sm btn-primary my-2">게시글 등록</a>
    </div>
  </div>
</html>
